[submodule "dex_builder"]
	path = lsplant/src/main/jni/external/dex_builder
	url = https://github.com/1754048656/DexBuilder.git
	branch = master
[submodule "docs/doxygen-awesome-css"]
	path = docs/doxygen-awesome-css
	url = https://github.com/jothepro/doxygen-awesome-css.git
